<div id="generalContenedor" class="conteiner-sm">

    <div id="formulario">
        <h1 id="titleone">Sistema Medico </h1>


        <h1 id="titletwo">Iniciar Sesión </h1>

        <h2>Usuario:</h2>
        <input class="inputt" type="text">

        <h2> Contraseña:</h2>
        <input  class="inputt" type="password">

        <button type="submit"> Iniciar sesión</button>

    </div>


    <div id="ImgDoc">

        <img src="https://img.freepik.com/free-photo/doctor-with-his-arms-crossed-white-background_1368-5790.jpg?w=2000"
            width="70%" alt="hola" /> 
            

    </div>




</div>